{% extends "base.html" %}




{% block content %}


<div class="row item">
    <div class="col-xs-4 item-image-container">
        <img class="img-responsive center-block" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-8">
        <h5>Item name</h5>
        <h6>Created by Username</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
</div>
<div class="row item-extras">
    <div class="col-xs-4 text-center">
        <p>Likes: 10 Views 10</p>
    </div>
    <div class="col-xs-8 text-right">
        <p><a href="#">Edit</a> | <a href="#">Delete</a></p>
    </div>
</div>
<div class="row items-similar-hdr">
    <div class="col-xs-12"><h2>More items like this one</h2></div>
</div>
<div class="row items-similar">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 item-container">
                <div class="row item-box eq-height-xs">
                    <div class="col-xs-4 col-sm-12 item-image-container">
                        <img class="img-responsive center-block" src="http://placehold.it/200x200">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <h5>Item name</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 item-container">
                <div class="row item-box eq-height-xs">
                    <div class="col-xs-4 col-sm-12 item-image-container">
                        <img class="img-responsive center-block" src="http://placehold.it/200x200">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <h5>Item name</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row item-box eq-height-xs">
                    <div class="col-xs-4 col-sm-12 item-image-container">
                        <img class="img-responsive center-block" src="http://placehold.it/200x200">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <h5>Item name</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row item-box eq-height-xs">
                    <div class="col-xs-4 col-sm-12 item-image-container">
                        <img class="img-responsive center-block" src="http://placehold.it/200x200">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <h5>Item name</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...</p>
                    </div>
                </div>
            </div>

            


        </div>
    </div>
</div>

{% endblock content %}