{% extends "base.html" %}
{% from "macros.html" import item_preview, isotope %}



{% block content %}

<div class="row item">
    <div class="col-xs-4 item-image-container">
        <img class="img-responsive" src="{{url_for('image_file', filename=sel_item.image)}}">
    </div>
    <div class="col-xs-8">
        <h4>{{sel_item.name}}</h4>
        <h6>Created by <a href="{{url_for('userPage', user_id=sel_item.user.id)}}">{{sel_item.user.name}}</a></h6>
        <p>{{sel_item.description}}</p>
        <h6>{{sel_item.views}} views</h6>
    </div>
</div>
<div class="row item-extras">
    <div class="col-xs-4 text-center">
        {% if "username" in session %}
        <form method="POST" id="addForm">
          <input name="_csrf_token" type=hidden value="{{csrf_token()}}">
          <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Add item to list <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {%for list in lists %}
              <li><button class="dropdown-btn" type="submit" onclick='this.form.action="{{url_for("addItemToList", item_id=sel_item.id, list_id=list.id)}}"' name="add" value="{{list.id}}">{{list.name}}</button></li>
            {% endfor %}
          </ul>
        </form>
        {% endif %}
    </div>
    <div class="col-xs-8 text-right">
        {% if "id" in session and session["id"] == sel_item.user.id %}
        <a class="btn btn-primary" href="{{url_for('editItemPage', item_id=sel_item.id)}}">Edit</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
        Delete
        </button>
        {% endif %}
    </div>
</div>
<div class="row items-similar-hdr">
    <div class="col-xs-12"><h2>More items like this one</h2></div>
</div>
<div class="row items-similar">
    <div class="col-xs-12">
        <div class="row">

        {% for item in items %}
            {{ item_preview(item)}}
        {% endfor %}

            
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Are you sure you want to delete {{sel_item.name}}?</h2>
        <div class="btn-grp text-right">
            <form method="POST" class="modal-form-submit" action="{{url_for('deleteItem', item_id=sel_item.id)}}">
                <input name="_csrf_token" type=hidden value="{{csrf_token()}}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}

{{isotope()}}

{% endblock %}