{% extends "base.html" %}




{% block content %}


<div class="row item">
    <div class="col-xs-4 item-image-container">
        <img class="img-responsive center-block" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-8">
        <h4>{{sel_item.name}}</h4>
        <h6>Created by {{sel_item.user.name}}</h6>
        <p>{{sel_item.description}}</p>
        <h6>{{sel_item.views}} views</h6>
    </div>
</div>
<div class="row item-extras">
    <div class="col-xs-12 text-right">
        <p><a href="{{url_for('editItemPage', item_id=sel_item.id)}}">Edit</a> | <a href="{{url_for('deleteItem', item_id=sel_item.id)}}">Delete</a></p>
    </div>
</div>
<div class="row items-similar-hdr">
    <div class="col-xs-12"><h2>More items like this one</h2></div>
</div>
<div class="row items-similar">
    <div class="col-xs-12">
        <div class="row">

        {% for item in items %}
        <div class="col-xs-12 col-sm-6 col-md-4 item-container">
            <div class="row item-box eq-height-xs">
                <div class="col-xs-4 col-sm-12 item-image-container">
                    <a href="{{url_for('itemPage', item_id=item.id)}}"><img class="img-responsive center-block" src="http://placehold.it/200x200"></a>
                </div>
                <div class="col-xs-8 col-sm-12">
                    <h5>{{item.name}}</h5>
                    <p>{{item.description}}</p>
                    <h6>{{item.views}} views</h6>
                </div>
            </div>
        </div>
        {% endfor %}

            
        </div>
    </div>
</div>

{% endblock content %}