{% extends "emptybase.html" %}

{% block base %}

<div class="row logo">
    <div class="col-xs-6 col-xs-offset-3">
        <img class="img-responsive center-block" src="http://placehold.it/100x100">
    </div>
</div>
<div class="row login">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="header text-center">
                <h3>Login</h3>
            </div>
            <div class="login-auths text-center">
                <p><button class="btn btn-default">Login with Facebook</button></p>
                <p><button class="btn btn-default">Login with Google</button></p>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}