{% extends "emptybase.html" %}




{% block import_scripts %}
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>

{% endblock %}



{% block base %}

{% block opening_scripts %}
<script>
window.fbAsyncInit = function() {
FB.init({
  appId      : '308207202947239',
  cookie     : true,
  xfbml      : true,
  version    : 'v2.8'
});
FB.AppEvents.logPageView();   
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock opening_scripts %}


<meta name="google-signin-client_id" content="630208032124-lkj6h9hrlbhk9mg42mqejg88c2gvt3jg.apps.googleusercontent.com">

<div class="row">
<div id='result' class="col-xs-12">


<div class="row logo">
    <div class="col-xs-6 col-xs-offset-3">
        <img class="img-responsive center-block" src="http://placehold.it/100x100">
    </div>
</div>

<div class="row login">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="header text-center">
                <h3>Login</h3>
            </div>
            <div class="login-auths text-center">

                <div id="signInButton">
                  <span class="g-signin2"
                    data-scope="openid email"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-onsuccess="signInCallback"
                    data-onfailure="onSignInFailure"
                    data-approvalprompt="force">
                  </span>
                </div>

                <fb:login-button 
                  scope="public_profile,email"
                  onlogin="checkLoginState()">
                </fb:login-button>

            </div>
          </div>
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}


{% block scripts %}
<script>

function signInCallback(authResult){
    if (authResult['code']) {
        $('#signInButton').attr('style', 'display: none');

        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result) {
                if (result){
                    window.location.href='/success'
                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console');
                }
            }
        });
    }
}


function onSigninFailure(error){
    console.log(error)
}


function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}


function statusChangeCallback(response){
    if (response['status'] == "connected"){
        console.log(response['authResponse']['accessToken'])

        $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}&user_id=' + response['authResponse']['userID'],
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: response['authResponse']['accessToken'],
            success: function(result) {
                if(result){
                    window.location.href='/success'
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console');
                }
            }
        })
    }
    else{
        console.log("Unable to log in")
    }
}


</script>
{% endblock %}