{% extends "base.html" %}
{% from "macros.html" import list_item %}

{% block content %}
<div class="row">
    <div class="col-xs-3 text-center">
        {% if user_image %}
        <img class="img-responsive center-block" src="{{user_image}}">
        {% else %}
        <img class="img-responsive center-block" src="{{url_for('image_file', filename='userdefault.jpg')}}">
        {% endif %}
        <h4>{{user_name}}</h4>
    </div>
    <div class="col-xs-9 user-lists">
        <h5>User's public item lists</h5>
        <ul class="list-group">
        {% for list in user_lists %}
        <a class="list-group-item" href="{{url_for('itemListPage', list_id=list.id)}}">{{list.name}}</a>
        <a class="list-group-item" href="{{url_for('itemListPage', list_id=list.id)}}">{{list.name}}</a>
        <a class="list-group-item" href="{{url_for('itemListPage', list_id=list.id)}}">{{list.name}}</a>
        <a class="list-group-item" href="{{url_for('itemListPage', list_id=list.id)}}">{{list.name}}</a>
        <a class="list-group-item" href="{{url_for('itemListPage', list_id=list.id)}}">{{list.name}}</a>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Items created by this user</h4>
        {% for item in user_items %}
        {{list_item(item, False)}}
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}