.navbar-default,
.navbar-toggle {
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: none;
    margin-bottom: 0;
}

.navbar-toggle{
    bottom: 35px;
}

#navbar-min {
    border-color: transparent;
}

#navbar {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-img {
    max-height: 100px;
    max-width: 100px;
}

.item-img {
    max-height: 200px;
    max-width: 200px;
}

.nav-link,
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:hover,
#dropdown-menu ul,
#dropdown-menu a {
    background-color: white;
    box-shadow: none;
    background-image: none;
}

.img-responsive{
    max-width: 100%;
}

.item-image-container {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-image {
    min-width: 100%;
    min-height: 100%;
}

.item-box{
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0 3px 20px 3px;
}

.item{

}

.footer {
    height: 100px;
}

.footer-content {
    padding-top: 50px;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

@media screen and (max-width: 768px){
    .eq-height-xs{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}

.form-error {
    color:red;
}